.nav-container {
  max-width: 800px;
  width: 100%;
  .displayFlex(row nowrap, center, space-between);
  margin: 30px auto;

  .logo {
    .navLink(none, black, '');
    font-weight: 600;
  }

  nav {
    .displayFlex(row nowrap, center, space-evenly);

    a {
      .navLink(none, black, 1.6rem);
      font-weight: 600;
      margin-right: 40px;
    }
  }
}